{% extends 'registration/base.html' %}
{% load static %}

{% block content %}

<div class="form-basic" width="100%">

<h2>Create Divisions</h2>

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

</div>

<br />

  {% if JMDivisions %}
  
  <h2>Junior Males</h2>
    
    Unique Junior Males: {{unique_jr_males}} <br>
    Junior Male Competitors: {{competing_jr_males}} <br><br>

    <table>
    <tr>
        <td>Age Group</td>
        <td>Weight Class</td>
        <td>Number of Competitors</td>
        <td>Total Matches</td>
        <td>Match Time</td>
      </tr>
      {% for age, weight, person, matches, matchtime, fileName in JMDivisions %}
      <tr {% if person.count == 1 %}style="color: red; font-weight: bold;" {% else %}style="color: black;" {% endif %}>
        <th style="text-align:center">{{age}}</th>
        <th style="text-align:center">{{weight}}</th>
        <th style="text-align:center">{{person.count}}</th>
        <th style="text-align:center">{{matches}}</th>
        <th style="text-align:center">{{matchtime}}</th>
        <th style="text-align:center"><a href="http://libertybellregistration.com/static/registration/poolsheets/{{fileName}}" target="_blank">Pool Sheet</a></th>
      </tr>
    {% endfor %}

  {% endif %}


  {% if JFDivisions %}

  <h2>Junior Females</h2>

    
    Unique Junior Females: {{unique_jr_females}} <br>
    Junior Female Competitors: {{competing_jr_females}} <br><br>

    <table>
    <tr>
        <td>Age Group</td>
        <td>Weight Class</td>
        <td>Number of Competitors</td>
        <td>Total Matches</td>
        <td>Match Time</td>
        <td>Pool Sheet</td>
      </tr>
      {% for age, weight, person, matches, matchtime, fileName in JFDivisions %}
      <tr {% if person.count == 1 %}style="color: red; font-weight: bold;" {% else %}style="color: black;" {% endif %}>
        <th style="text-align:center">{{age}}</th>
        <th style="text-align:center">{{weight}}</th>
        <th style="text-align:center">{{person.count}}</th>
        <th style="text-align:center">{{matches}}</th>
        <th style="text-align:center">{{matchtime}}</th>
        <th style="text-align:center">{% if person.count >= 1 %}<a href="http://libertybellregistration.com/static/registration/poolsheets/{{fileName}}" target="_blank">Pool Sheet</a>{% endif %}</th>
      </tr>
    {% endfor %}

  {% endif %}

{% endblock %}
